@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET sample application.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What is this?</h2>
        <p>
            This is a sample MVC 5 application. This has been built using the VS2015 template for .Net 4.5.2. 
        </p>
     
    </div>

    <div class="col-md-4">
        <h2>What adaptions have been made?</h2>

    </div>

    <div class="col-md-4">
        <p>1. Added Ninject IoC</p>
        <p>2. Added a DataAccess layer with generic repository (using Database First Entity Framework)</p>
        <p>3. Added a sample 'Products' entity, with CRUD functionality</p>

    </div>

</div>